#scene {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#goFS {
  position: fixed;
  right: 50px;
  top: 20px;
}
#selection_confirmation_overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(76, 175, 80, 0.3) /* Green background with 30% opacity */
}

#left_hud {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  width: 45%;
  height: 100%;
  margin-left: 2.5%;
}

#right_hud {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  right: 0;
  width: 45%;
  height: 100%;
  margin-right: 2.5%;
}

#guide_circle_left {
  pointer-events: none;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 100%;
}

#guide_circle_right {
  pointer-events: none;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 100%;
}

#top_hud_text_area{
  font-family: 'Raleway', sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear,  left top,  left bottom,
          color-stop(0.2, orange),
          color-stop(0.8, yellow));
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;

}

#bottom_hud_text_area{
  position:absolute;
  bottom:0;
  margin-bottom: 20%;
  text-shadow: 1px 1px darkgray;
}

.heading_text{
  font-size: 125%;
}

#heading_image_left{
  text-align: right;
}

.info_text{
  position: relative;
  left: 50%;
  top: 50%;
  color: white;
  font-size: 100%;
}